extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1= pagina
                blockquote Etiam ut blandit augue. Donec fringilla commodo luctus. Nunc in ex ut massa tincidunt mollis in sed dolor. Sed volutpat augue a lorem efficitur, at porttitor arcu laoreet. Nulla dapibus purus nec risus dapibus efficitur.
                p Mauris aliquet nisi in purus scelerisque viverra. Nullam ut maximus ante. Donec ornare nisl a mi porttitor congue. Aenean quis ultrices tellus. Integer id venenatis quam. Vestibulum vel tempus massa. Suspendisse feugiat feugiat ex, ac rutrum purus efficitur nec. Mauris convallis luctus hendrerit.
                p Praesent congue pretium dui, sit amet accumsan justo egestas eget. Ut diam lorem, elementum sed gravida nec, aliquet nec mi. Morbi commodo dolor dictum dapibus sollicitudin. Aenean in dictum elit. Aliquam eget pharetra dui, sed auctor nisi.

    .listado-iconos
       .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4") 
                    h2.mb-4 Seguridad
                    p Ut diam lorem, elementum sed gravida nec, aliquet nec mi. Morbi commodo dolor dictum dapibus sollicitudin. Aenean in dictum elit. 

                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4") 
                    h2.mb-4 Mejores Destinos
                    p Ut diam lorem, elementum sed gravida nec, aliquet nec mi. Morbi commodo dolor dictum dapibus sollicitudin. Aenean in dictum elit. 

                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4") 
                    h2.mb-4 Mejor Precio
                    p Ut diam lorem, elementum sed gravida nec, aliquet nec mi. Morbi commodo dolor dictum dapibus sollicitudin. Aenean in dictum elit. 